<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/forgot-password" method="post">
    <h3>Forgot Password</h3>
    <input type="email" name="Email" placeholder="Enter your email" required><br><br>
    <input type="submit" value="Send Code">
    <p style="color: red;"><%= message %></p>

</form>

</body>
</html>